{% block form %}
    <form action="" method="POST">
        <h3>Select rounds count</h3>
        <input type="number" name="round">
        <button type="submit">submit</button>
    </form>
{% endblock %}
{% block table %}
    <style>
        table tr td{
            border: 1px solid black;
            padding: 3px;
            margin: 0;
            text-align: center;
        }
    </style>
    <table>
    <tr style="background-color: gainsboro">
        <td>{{ 'id'|upper }}</td>
        <td>{{ 'class'|upper }}</td>
        <td>{{ 'name'|upper }}</td>
        <td>{{ 'vehicle'|upper }}</td>
        {% if round is not null and round > 0 %}
            {% for i in 1..round %}
                <td>ROUND {{ i }} TIME</td>
                <td>ROUND {{ i }} PENALTY</td>
                <td>ROUND {{ i }} RESULT</td>
            {% endfor %}
            {#<td>BEST TIME</td>#}
        {% endif %}
    </tr>
        {% for item in database %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.class }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.vehicle }}</td>
            {% for roundcount in item %}
                {% for results in roundcount %}

                    <td>{{results.time }}</td>
                    <td>{{results.penalty }}</td>
                    <td>{{results.final_time }}</td>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tr>
</table>
{% endblock %}