{% block table %}
    <style>
        table tr td{
            border: 1px solid black;
            padding: 3px;
            margin: 0;
            text-align: center;
        }
    </style>
<table>
    <tr>
        <td>{{ 'id'|upper }}</td>
        <td>{{ 'class'|upper }}</td>
        <td>{{ 'name'|upper }}</td>
        <td>{{ 'vehicle'|upper }}</td>
    </tr>
    {% for item in database %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.class }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.vehicle }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
